.navbar{
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color:#2C3333;
}

ul{
    padding: 0;
}


.nav-left{
    display: flex;
    margin-left: 10px;
}


.nav-left ul li {
    display: inline-block;
    
}

.nav-right{
    display: flex;
    margin-right: 10px;
}

.nav-right ul li {
    display: inline-block;
}

.nav-left ul li a{
    text-decoration: none;
    color: #E7F6F2;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    transition: 0.25s;
}

.nav-right ul li a{
    text-decoration: none;
    color: #E7F6F2;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #395B64;
    border-radius: 100px;
    transition: 0.25s;
}

.nav-right ul li a:hover{
    background-color: #A5C9CA;
    color: #395B64;
}

.nav-left ul li a:hover{
    color: #A5C9CA;
}



